---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSlider from "../components/HeroSlider.astro";
import CardsSection from "../components/CardsSection.astro";
import BlogSection from "../components/BlogSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import LanguagesSection from "../components/LanguagesSection.astro";
import TechnologiesSection from "../components/TechnologiesSection.astro";
import BrandsSection from "../components/BrandsSection.astro";
import SocialSection from "../components/SocialSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout
	title="JaimeGH | Jaime Gonz치lez Herr치iz | Dev & Founder @InledGroup"
	description="Hola, soy Jaime Gonz치lez Herr치iz. Desarrollador, agentic engineer y fundador de Inled Group y TEA Friendly."
>
	<Header />
	<main>
		<HeroSlider />
		<CardsSection />
		<BlogSection />
		<ProjectsSection />
		<LanguagesSection />
		<TechnologiesSection />
		<BrandsSection />
		<SocialSection />
		<ContactSection />
	</main>
</Layout>
<style>
	main {
		position: relative;
		z-index: 10;
	}
</style>
